[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-filter = "*"
psycopg2-binary = "*"

[dev-packages]
autoflake = "*"
autopep8 = "*"
ipython = "*"
pudb = "*"
pyformat = "*"
pytest = "*"
pytest-django = "*"
pylint = "*"
flake8 = "*"
yapf = "*"
neovim = "*"
django-debugtools = "*"
django-extensions = "*"
django-debug-toolbar = "*"
django-pudb3 = "*"
requests = "*"
black = "*"

[requires]
python_version = "3.10"
